.root{
    -icons-color: -fx-text-base-color;
    -top-icons-color: white;
    -base-icons-color: black;
}

.awesome{
    -fx-font-family:  FontAwesome;
    -fx-font-size: 16px;
    -fx-text-fill: -icons-color;
}

.weather{
    -fx-font-family:  'weather icons';
    -fx-font-size: 16px;
    -fx-text-fill: -icons-color;
}


.stack-base{
    -fx-font-family: FontAwesome; 
    -fx-font-size: 3em;
    -fx-text-fill: -base-icons-color;
}

.stack-top{
    -fx-font-family: FontAwesome; 
    -fx-font-size: 2em;
    -fx-text-fill: -top-icons-color;
}


