.root{
    -icons-color: -fx-text-base-color;
    -icons-hover-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
    -icons-selected-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
    -top-icons-color: white;
    -base-icons-color: black;

}

.awesome{
    -fx-font-family:  FontAwesome;
    -fx-font-size: 16px;
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
}

.awesome:hover{
    -fx-effect: -icons-hover-effect;
}

.awesome:selected{
    -fx-effect: -icons-selected-effect;
}

.weather{
    -fx-font-family:  'weather icons';
    -fx-font-size: 16px;
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;

}

.stack-base{
    -fx-font-family: FontAwesome; 
    -fx-font-size: 3em;
    -fx-text-fill: -base-icons-color;
    -fx-fill: -base-icons-color;
}

.stack-top{
    -fx-font-family: FontAwesome; 
    -fx-font-size: 2em;
    -fx-text-fill: -top-icons-color;
    -fx-fill: -top-icons-color;
}


