.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-effect: innershadow( three-pass-box , derive(-fx-text-base-color,-70%) , 0.04em, 0.0 , 0.03em, 0.03em );
    -fx-text-fill: linear-gradient(to bottom, derive(-fx-text-base-color,20%) 40%, derive(-fx-text-base-color,-20%) 80%);
}

.icons:hover{
    -fx-effect: dropshadow( three-pass-box , derive(white,10%) , 1.0em, 0.0 , 0, 0);
}
