.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 0.05em, 0.0 , 0.03em, 0.03em );
    -fx-text-fill: linear-gradient(to bottom, derive(white,0%) 40%, derive(white,-10%) 80%);
}

.icons:hover{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 0.05em, 0.0 , 0.03em, 0.03em );
}

